go 1.25.1

use (
	.
	./client
	./config
	./contracts
	./core
	./di
	./docs
	./eventbus
	./featureflag
	./goauth
	./gocircuit
	./goerror
	./gologger
	./gometrics
	./goratelimit
	./goretry
	./gosanitizer
	./gotimeout
	./gotracing
	./infra
	./logging-middleware
	./messaging
	./messaging/audit
	./messaging/dlq
	./messaging/idempotency
	./messaging/inbox
	./messaging/outbox
	./messaging/queue
	./messaging/redrive
	./messaging/replay
	./middleware
	./middleware/adminshield/admin-middleware
	./middleware/logmid/logging-middleware
	./middleware/requestid
	./middleware/timeout
	./observability
	./observability/audit
	./observability/correlation
	./observability/healthcheck
	./observability/performance
	./observability/sentinelprofiler
	./observability/span
	./observability/tracing
	./persistence
	./persistence/distlock
	./persistence/tx
	./persistence/uow
	./platform
	./platform/servicemesh
	./plugins
	./plugins/common
	./plugins/engine
	./ratelimit
	./ratelimit/enterprise
	./ratelimit/memory_store
	./resilience
	./resilience/cache
	./resilience/circuit
	./resilience/pagination
	./resilience/retry
	./resilience/sanitizer
	./resilience/serializer
	./resilience/validate
	./resilience/validator
	./result
	./runtime
	./security
	./security/encryption
	./security/hash
	./security/jwt
	./security/oauth2
	./security/permission
	./security/policy
	./security/secrets
	./security/suite
	./security/threatdefense
	./telemetry
	./testing
	./validator
)
